<html>

<head>
</head>

<body>

<a href="./play-game">Play Existing Game - Enter Game Code (TBC)</a>
<p>
<a href="./view-results">View Results - Enter Game Code (TBC)</a>
<p><hr>
<a href="./create-new-game">Create New Game</a>
</body>
<p><hr>
<a href="./voices">Voices Quiz</a>
</body>

</html>
