<html>

<head>
</head>

<body>
	<a href="./play-game?gameId=243969">Play Existing Game - (Replace the gameID in the URL)</a>
	<p></p>
	<a href="./show-results?gameId=243969">View Results - Enter Game Code (Replace the gameID in the URL)</a>
	<p></p>
	<hr>
	<a href="./create-new-game">Create New Game</a>
	<p></p>
	<hr>
</body>

</html>
