<html>

<head>
</head>

<body>

<a href="./play-game?gameId=243969">Play Existing Game - (Replace the gameID in the URL)</a>
<p>
<a href="./view-results?gameId=243969">View Results - Enter Game Code (Replace the gameID in the URL)</a>
<p><hr>
<a href="./create-new-game">Create New Game</a>
</body>
<p><hr>
<a href="./voices">Voices Quiz</a>
</body>

</html>
