<html>

<head>

	<script type="text/javascript">
	function copyText() {
		/* Get the text field */
		var copyText = document.getElementById("gameId");
		/* Select the text field */
		copyText.select();
		copyText.setSelectionRange(0, 99999); /*For mobile devices*/
		/* Copy the text inside the text field */
		document.execCommand("copy");
		/* Alert the copied text */
        //alert("Copied the text: " + copyText.value);
    }
</script>


</head>

<body>
	Game saved!
	<p>
		Share this link with your friends...
		<br><input type="text" id="gameId" name="gameId" readonly size=40 maxsize=40>
		<button onclick="copyText()">Copy text</button>

		<div class="share"></div>
	</p>
	<p>
		and then <a href="" id="playGame">Play now!</a>
	</p>

	<script type="text/javascript">
      var playURL = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/play-game?gameId=<%= gameId %>" ;
      document.getElementById("gameId").value = playURL;
      document.getElementById("playGame").href = playURL;
    </script>
</body>

</html>
